<div class=" col-sm-11">
	<div {{bind-attr class=':timeline-panel model.isScholar:credits:debits'}}>
		<ul class="timeline-panel-ul">
			<li><span class="importo">{{{model.title}}} <small class="text-muted right">{{model.date}}</small></span></li>
			<li><span class="causale">{{{model.text}}}</span></li>
			<li class="badges">
				{{#each model.badges as |current|}}
					<i {{bind-attr class=':fa current.icon'}} data-tooltip='{{current.title}}' ></i>
				{{/each}}
			</li>
		</ul>
	</div>
</div>
