<header class="header">
	<div class="container">
		<nav class="navbar navbar-inverse" role="navigation">
			<div class="navbar-header">
				<button type="button" id="nav-toggle" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				</button>
				<a href="#" class="navbar-brand scroll-top logo"><b>Mickael Goubin</b></a>
			</div>
			<!--/.navbar-header-->
			{{app-nav model=model.nav}}
			<!--/.navbar-collapse-->
		</nav>
		<!--/.navbar-->
	</div>
	<!--/.container-->
</header>
<!--/.header-->
{{app-header model=model.intro}}
<!--About-->
<section id="aboutUs" class="secPad">
	<div class="container">
		{{about-us model = model.aboutUs}}
	</div>
</section>
<!--Quote-->
<section id="quote" class="bg-parlex">
	{{app-quote model=model.quote}}
</section>
<!--Experience-->
<section id="experience" class="secPad">
	{{user-experience model=model.experience}}
</section>
<!--Portfolio-->
<section id="portfolio" class="page-section section appear clearfix secPad">
	{{user-portfolio model=model.portfolio}}
</section>
<!--Contact -->
<section id="byebye" class="secPad">
	{{the-end model=model.theend}}
</section>

{{social-fab model=model.socials}}